<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cj2103s01.dao.OrderDAO">
  
	<insert id="setInputOrder">
		insert into orders values (default, #{vo.mId}, default, #{vo.oName}, #{vo.oPhone}, #{vo.oPost}, #{vo.oAddress}, #{vo.oEmail}, #{vo.oMessage}, #{vo.oPrice}, #{vo.oPayment}, #{vo.oDelivery}, #{vo.oStatus}, default);
	</insert>
	
	<insert id="setOrderDetail">
		insert into orders_detail values (default, #{lastoId}, #{cartvo.mId}, #{cartvo.pId}, #{cartvo.pOption}, #{cartvo.pCnt}, #{cartvo.pPrice});
	</insert>
	
	<select id="getLastoId" resultType="int">
	    select oId from orders where mId = #{mId} order by oId desc limit 1;
	</select>

	<select id="notPayCnt" resultType="int">
	    select count(*) from orders where oStatus = '입금전';
	</select>
	
	<select id="notPayCntMid" resultType="int">
	    select count(*) from orders where oStatus = '입금전' and mId = #{mId};
	</select>
	
	<select id="readyPayCnt" resultType="int">
	    select count(*) from orders where oStatus = '배송준비중';
	</select>
	
	<select id="readyPayCntMid" resultType="int">
	    select count(*) from orders where oStatus = '배송준비중' and mId = #{mId};
	</select>
	
	<select id="ingPayCnt" resultType="int">
	    select count(*) from orders where oStatus = '배송중';
	</select>
	
	<select id="ingPayCntMid" resultType="int">
	    select count(*) from orders where oStatus = '배송중' and mId = #{mId};
	</select>
	
	<select id="endPayCnt" resultType="int">
	    select count(*) from orders where oStatus = '배송완료';
	</select>
	
	<select id="endPayCntMid" resultType="int">
	    select count(*) from orders where oStatus = '배송완료' and mId = #{mId};
	</select>
	
	<select id="cancelCnt" resultType="int">
	    select count(*) from orders where oChange = '취소';
	</select>
	
	<select id="cancelCntMid" resultType="int">
	    select count(*) from orders where oChange = '취소' and mId = #{mId};
	</select>
	
	<select id="changeCnt" resultType="int">
	    select count(*) from orders where oChange = '교환';
	</select>
	
	<select id="changeCntMid" resultType="int">
	    select count(*) from orders where oChange = '교환' and mId = #{mId};
	</select>
	
	<select id="returnCnt" resultType="int">
	    select count(*) from orders where oChange = '반품';
	</select>
	
	<select id="returnCntMid" resultType="int">
	    select count(*) from orders where oChange = '반품' and mId = #{mId};
	</select>
	
	<select id="totOrderCnt" resultType="int">
	    select count(*) from orders;
	</select>
	
	<select id="totRecCntMid" resultType="int">
	    select count(*) from orders where mId = #{searchString};
	</select>
	
	<select id="totRecCntStatus" resultType="int">
	    select count(*) from orders where oStatus = #{searchString};
	</select>
	
	<select id="totRecChange" resultType="int">
	    select count(*) from orders where oChange = #{search};
	</select>
	
	<select id="totSearchRecCnt" resultType="int">
	    select count(*) from orders where oChange = #{search} and oStatus = #{searchString};
	</select>
	
	<select id="getOrderAllList" resultType="com.spring.cj2103s01.vo.OrderVO">
		select bb.*, cast(timestampdiff(minute, bb.oRdate, now())/60 as signed integer) as diffTime from orders bb order by bb.oId desc limit #{startIndexNo}, #{pageSize};
	</select>
	
	<select id="getMemberListMid" resultType="com.spring.cj2103s01.vo.OrderVO">
		select bb.*, cast(timestampdiff(minute, bb.oRdate, now())/60 as signed integer) as diffTime from orders bb where bb.mid = #{mId} order by bb.oId desc limit #{startIndexNo}, #{pageSize};
	</select>

	<select id="getOrderListMid" resultType="com.spring.cj2103s01.vo.OrderVO">
		select bb.*, cast(timestampdiff(minute, bb.oRdate, now())/60 as signed integer) as diffTime from orders bb where bb.mid = #{mId} and bb.oRdate > date_add(now(), interval -#{time} day) order by bb.oId desc;
	</select>
	
	<select id="getOrderListStatus" resultType="com.spring.cj2103s01.vo.OrderVO">
		select bb.*, cast(timestampdiff(minute, bb.oRdate, now())/60 as signed integer) as diffTime from orders bb where bb.mid = #{mId} and bb.oStatus = #{status} and bb.oRdate > date_add(now(), interval -#{time} day) order by bb.oId desc;
	</select>
	
	<select id="getAdminOlistStatus" resultType="com.spring.cj2103s01.vo.OrderVO">
		select bb.*, cast(timestampdiff(minute, bb.oRdate, now())/60 as signed integer) as diffTime from orders bb where bb.oStatus = #{status} order by bb.oId desc limit #{startIndexNo}, #{pageSize};
	</select>
	
	<select id="getOrderListChange" resultType="com.spring.cj2103s01.vo.OrderVO">
		select bb.*, cast(timestampdiff(minute, bb.oRdate, now())/60 as signed integer) as diffTime from orders bb where bb.mid = #{mId} and bb.oChange = #{change} and bb.oRdate > date_add(now(), interval -#{time} day) order by bb.oId desc;
	</select>
	
	<select id="getAdminOlistChagne" resultType="com.spring.cj2103s01.vo.OrderVO">
		select bb.*, cast(timestampdiff(minute, bb.oRdate, now())/60 as signed integer) as diffTime from orders bb where bb.oChange = #{change} order by bb.oId desc limit #{startIndexNo}, #{pageSize};
	</select>
	
	<select id="getOrderDetailListMid" resultType="com.spring.cj2103s01.vo.OrderDetailVO">
		select * from orders_detail where mId = #{mId} group by oId;
	</select>
	
	<select id="getOrderDetailListOid" resultType="com.spring.cj2103s01.vo.OrderDetailVO">
		select * from orders_detail where mId = #{mId} and oId = #{oId};
	</select>
	
	<select id="getOrderDetailList" resultType="com.spring.cj2103s01.vo.OrderDetailVO">
		select * from orders_detail group by oId;
	</select>
	
	<select id="getOrderContent" resultType="com.spring.cj2103s01.vo.OrderVO">
		select * from orders where mId = #{mId} and oId = #{oId};
	</select>
	
	<select id="getOrderInfo" resultType="com.spring.cj2103s01.vo.OrderVO">
		select * from orders where oId = #{oId};
	</select>
	
	<select id="getOrderSCList" resultType="com.spring.cj2103s01.vo.OrderVO">
		select bb.*, cast(timestampdiff(minute, bb.oRdate, now())/60 as signed integer) as diffTime from orders bb where bb.oChange = #{change} and bb.oStatus = #{status} order by bb.oId desc  limit #{startIndexNo}, #{pageSize};
	</select>
	
	<update id="statusUpdate">
	    update orders set oStatus=#{oStatus} where oId=#{oId};
	</update>
	
	<update id="setBuyUpdate">
	    update orders set oChange = '구매확정' where oId=#{oId};
	</update>
	
	<update id="setReturnUpdate">
	    update orders set oChange = '반품' where oId=#{oId};
	</update>
	
	<update id="setReturnEndUpdate">
	    update orders set oChange = '반품완료' where oId=#{oId};
	</update>
	
	<update id="setChangeUpdate">
	    update orders set oChange = '교환' where oId=#{oId};
	</update>
	
	<update id="setChangeEndUpdate">
	    update orders set oChange = '교환완료' where oId=#{oId};
	</update>
	
	<update id="setCancelUpdate">
	    update orders set oChange = '취소' where oId=#{oId};
	</update>
	
	<update id="setCancelEndUpdate">
	    update orders set oChange = '취소완료' where oId=#{oId};
	</update>
	
</mapper>