<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cj2103s01.dao.ProductDAO">
  
	<select id="getProductAllList" resultType="com.spring.cj2103s01.vo.ProductVO">
		select * from product;
	</select>
	
	<select id="getProductList" resultType="com.spring.cj2103s01.vo.ProductVO">
		select bb.*, cast(timestampdiff(minute, bb.pRdate, now())/60 as signed integer) as diffTime from product bb order by pId desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="totRecCnt" resultType="int">
	    select count(*) from product;
	</select>
	
	<select id="totSearchRecCnt" resultType="int">
		select count(pId) from product where ${search} like concat('%', #{searchString} ,'%');
	</select>
	
	<insert id="setProductInput">
	    insert into product values (default, #{vo.pName}, #{vo.pCate}, #{vo.pColor}, #{vo.pSize}, #{vo.pPrice}, default, #{vo.pStock}, #{vo.pImage}, #{vo.pInfo}, #{vo.pContent}, default, default, default, default);
	</insert>
	
	<select id="getProductSearchList" resultType="com.spring.cj2103s01.vo.ProductVO">
		select bb.*, cast(timestampdiff(minute, bb.pRdate, now())/60 as signed integer) as diffTime from product bb where ${search} like concat('%',#{searchString},'%')  order by pId desc limit #{startIndexNo},#{pageSize};
	</select>
  
	<update id="addReadNum">
	    update product set pHit = pHit + 1 where pId = #{pId};
	</update>
	
	<select id="getProductContent" resultType="com.spring.cj2103s01.vo.ProductVO">
		select * from product where pId = #{pId};
	</select>
	
  	<select id="getIdCheck" resultType="com.spring.cj2103s01.vo.ProductVO">
	    select * from product where pId = #{pId};
	</select>

	<update id="productUpdateOk">
	    update product set pName=#{vo.pName}, pCate=#{vo.pCate}, pColor=#{vo.pColor}, pSize=#{vo.pSize}, pPrice=#{vo.pPrice}, pStock=#{vo.pStock}, pImage=#{vo.pImage}, pInfo=#{vo.pInfo}, pContent=#{vo.pContent} where pId=#{vo.pId};
	</update>
	
	<delete id="pDelete">
		delete from product where pId = #{pId};
	</delete>
	
	<select id="totProductCnt" resultType="int">
  		select count(*) from product;
 	</select>
 	
	<delete id="productDelete">
		delete from product where pId = #{idx}; 
	</delete>
</mapper>