<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cj2103s01.dao.QnaDAO">
  
	<select id="getQnaList" resultType="com.spring.cj2103s01.vo.QnaVO">
		select bb.*, cast(timestampdiff(minute, bb.qRdate, now())/60 as signed integer) as diffTime from qna bb order by originNo desc, groupNo asc limit #{startIndexNo},#{pageSize};
	</select>
	
 	<select id="totRecCnt" resultType="int">
	    select count(*) from qna;
	</select>
	
 	<select id="totmIdRecCnt" resultType="int">
	    select count(*) from qna where qWriter = #{mId};
	</select>
	
 	<select id="getQnaLastVo" resultType="com.spring.cj2103s01.vo.QnaVO">
	    select * from qna order by qId desc limit 1;
	</select>
	
	<select id="totSearchRecCnt" resultType="int">
		select count(qId) from qna where ${search} like concat('%', #{searchString} ,'%');
	</select>
	
	<select id="getQnaContentList" resultType="com.spring.cj2103s01.vo.QnaVO">
		select bb.*, cast(timestampdiff(minute, bb.qRdate, now())/60 as signed integer) as diffTime from qna bb where pId = ${pId} order by originNo desc, groupNo asc limit #{startIndexNo},#{qpageSize};
	</select>
	
	<select id="getQnaMemberList" resultType="com.spring.cj2103s01.vo.QnaVO">
		select bb.*, cast(timestampdiff(minute, bb.qRdate, now())/60 as signed integer) as diffTime from qna bb where qWriter = #{mId} order by originNo desc, groupNo asc limit #{startIndexNo},#{qpageSize};
	</select>
	
	<insert id="setQnaInput">
	    insert into qna values (default, #{vo.pId}, #{vo.qCate}, #{vo.qWriter} ,#{vo.qTitle}, #{vo.qName}, #{vo.qPwd}, #{vo.qContent}, #{vo.qSecret}, default, default, default, default);
	</insert>
	
	<update id="setQnaUpdate">
	    update qna set originNo=${vo.qId} where qId=#{vo.qId};
	</update>
	
	<insert id="qnaReplyOk">
	    insert into qna values (default, #{vo.pId}, #{vo.qCate}, #{vo.qWriter} ,#{vo.qTitle}, #{vo.qName}, #{vo.qPwd}, #{vo.qContent}, #{vo.qSecret}, default, default, #{vo.originNo}, #{vo.groupNo});
	</insert>
	
	<update id="addReadNum">
	    update qna set qHit = qHit + 1 where qId = #{qId};
	</update>
	
	<select id="getQnaContent" resultType="com.spring.cj2103s01.vo.QnaVO">
		select * from qna where qId = #{qId};
	</select>
	
	<select id="getIdCheck" resultType="com.spring.cj2103s01.vo.QnaVO">
	    select * from qna where qId = #{qId};
	</select>
	
	<delete id="qDelete">
		delete from qna where qId = #{qId};
	</delete>
	
	<update id="qnaUpdateOk">
	    update qna set qTitle=#{vo.qTitle}, qCate=#{vo.qCate}, qPwd=#{vo.qPwd}, qSecret=#{vo.qSecret}, qContent=#{vo.qContent} where qId=#{vo.qId};
	</update>
	
	<select id="getQnaSearchList" resultType="com.spring.cj2103s01.vo.QnaVO">
		select bb.*, cast(timestampdiff(minute, bb.qRdate, now())/60 as signed integer) as diffTime from qna bb where ${search} like concat('%',#{searchString},'%')  order by qId desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="totpIdRecCnt" resultType="int">
	    select count(*) from qna where pId = #{pId};
	</select>

</mapper>