<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cj2103s10.dao.MemberDAO">
  <select id="getIdCheck" resultType="com.spring.cj2103s10.vo.MemberVO">
    select * from member2 where mid = #{mid};
  </select>
  
  <select id="getNicknameCheck" resultType="com.spring.cj2103s10.vo.MemberVO">
    select * from member2 where nickName = #{nickName};
  </select>
  
  <insert id="setMemberInput">
    insert into member2 values (default,#{vo.mid},#{vo.pwd},#{vo.name},#{vo.nickName},#{vo.gender},#{vo.birthday},#{vo.tel},#{vo.email},#{vo.homepage},#{vo.address},#{vo.job},#{vo.hobby},default,#{vo.photo},#{vo.content},default,default,#{vo.userInfor},default);
  </insert>
  
  <update id="setMemberUpdate">
  	update member2 set pwd=#{vo.pwd},name=#{vo.name},nickName=#{vo.nickName},gender=#{vo.gender},birthday=#{vo.birthday},tel=#{vo.tel},email=#{vo.email},homepage=#{vo.homepage},address=#{vo.address},job=#{vo.job},hobby=#{vo.hobby},photo=#{vo.photo},content=#{vo.content},userInfor=#{vo.userInfor} where idx=#{vo.idx};
  </update>
  
  <update id="mDelete">
  	update member2 set userDel = 'OK' where mid=#{mid};
  </update>
  
  <select id="getPwdSearch" resultType="com.spring.cj2103s10.vo.MemberVO">
    select * from member2 where mid = #{mid} and email = #{toMail};
  </select>
  
  <update id="setPwdChange">
  	update member2 set pwd = #{encode} where mid=#{mid};
  </update>
  
  <select id="getIdSearch" resultType="com.spring.cj2103s10.vo.MemberVO">
    select * from member2 where replace(tel,'-','')=#{tel} and email=#{toMail};
  </select>
  
  <select id="totRecCnt" resultType="int">
    select count(*) from member2;
  </select>
  
  <select id="totRecCntLevel" resultType="int">
    select count(*) from member2 where level = #{searchString};
  </select>
  
  <select id="totRecCntMid" resultType="int">
    select count(*) from member2 where mid = #{partValue};
  </select>
</mapper>